---
import "../../layouts/layouts.astro";
import "../../style/about.css";
---

<section class="about-contenet">
  <h1 class="title-about">About Us</h1>
  <p class="paragra-about">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
    ut porro laboriosam debitis ducimus quaerat, quas delectus perferendis sit
    minima libero laborum hic, nihil quidem totam sequi. Eveniet, totam.
  </p>
</section>
