---
import "../../layouts/layouts.astro";
import "../../style/more.css";
---

<section class="more-content">
  <div class="grid-more">
    <div class="card-grid">
      <img src="./image/favicon.svg" />
      <span>Dev Managment</span>
    </div>
    <div class="card-grid">
      <img src="./image/favicon.svg" />
      <span>Dev Managment</span>
    </div>
    <div class="card-grid">
      <img src="./image/favicon.svg" />
      <span>Dev Managment</span>
    </div>
    <div class="card-grid">
      <img src="./image/favicon.svg" />
      <span>Dev Managment</span>
    </div>
  </div>
  <div class="info-grid">
    <h2 class="title-more">Lorem Ipsum es simplemente</h2>
    <p class="paragra-more">
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
      de texto.
    </p>
  </div>
</section>
