---
import "../../src/style/footer.css";
---

<footer>
  <div class="footer-content">
    <h4 class="footer-title">Site Map</h4>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Pricing</a>
  </div>
  <div class="footer-content">
    <h4 class="footer-title">Site Map</h4>
    <p>Lorem, ipsum.</p>
    <p>Lorem, ipsum.</p>
    <p>Lorem, ipsum.</p>
  </div>
  <div class="footer-content">
    <h4 class="footer-title">Social-Link</h4>
    <a href="#">Facekook</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
    <a href="#">TikTok</a>
  </div>
</footer>
